<!-- update mongodb -->

<form method="get" action="/update">
    <p>Type anything!..? </p>
    <input type="text" name="ejsFormName" value="something"> 
    <input type="submit">
  </form>

  <form method="get" action="/up">
    <p>Type anything to update</p>
    <input type="text" name="ejsFormName2" value="something2"> 
    <input type="submit">
  </form>
  <form method="get" action="/del">
    <p>Type anything to delete</p>
    <input type="text" name="ejsFormName3" value="something3"> 
    <input type="submit">
  </form>